* {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

body {
  background-color: #F0F0F0;
}

#flash p {
  padding: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: 900;
  margin-bottom: 80px;
}


@media (min-width: 768px) {
  .logo {
    margin-bottom: 0;
  }
}