/* Basic Style */

body {
  background: #fff;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.cnt {
  width: 390px;
  margin: 0 auto;
}

.cnt ul {
  margin: 0;
  padding: 0;
}

.cnt li * {
  float: left;
}

.cnt li, .cnt h3 {
  clear:both;
  list-style:none;
}

.cnt input,.cnt  button {
  outline: none;
}

.cnt button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.cnt button:hover {
  color: #333;
}

/* Heading */
.cnt h3, .cnt label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.cnt input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.cnt input[type="text"]:focus {
  color: #333;
}

/* New Task */
.cnt label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

.cnt input#new-task {
  float: left;
  width: 318px;
}

.cnt p > button:hover {
  color: #0FC57C;
}

/* Task list */
.cnt li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.cnt li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

.cnt li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
  font-weight: 400 !important;
}

.cnt li >  input[type="text"] {
  width: 226px;
}

.cnt li > .delete:hover {
  color: #CF2323;
}

/* Completed */
.cnt #completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.cnt ul li input[type=text] {
  display:none;
}

.cnt ul li.editMode input[type=text] {
  display:block;
}

.cnt ul li.editMode label {
  display:none;
}

/* Other styles */
.save-label {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 4.6em 2em 0 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}
